* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #29292930;
}

::-webkit-scrollbar-thumb {
  background-color: #ef8f10;
  border-radius: 5rem;
}

::-webkit-scrollbar-button {
  display: none;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.madimi {
  font-family: "Madimi One", sans-serif;
}

.active {
  border-bottom: #ef8f10;
}

.filled {
  cursor: pointer;
  background-color: hsl(34, 87%, 90%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: 0;
  color: #ef8f10;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  transition: all 0.2s ease;
  border: 0.1rem solid #ef8f10;
}

.filled:hover {
  background-color: hsl(34, 87%, 80%);
}

.notfilled {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: 0rem;
  background-color: transparent;
  color: white;
}
